{% extends '@BRTBlog/brt_blog_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% for post in pagination %}
                <div class="panel panel-flat blog-horizontal blog-horizontal-1">
                    <div class="panel-heading">
                        <h5 class="panel-title text-semibold">
                            <a href="#">{{ post.postTitle }}</a>
                        </h5>
                    </div>

                    <div class="panel-body">
                        <div class="thumb">
                            {% if post.postImage is not null %}

                                <img src="{{ vich_uploader_asset(post, 'postImageFile') }}" class="embed-responsive-item">

                            {% else %}

                                <img src="{{ asset('bundles/brtblog/template/assets/images/login_cover.jpg') }}" class="embed-responsive-item">

                            {% endif %}
                            <div class="caption-overflow">
                                <span>
                                    <a href="{{ path('brt_blog_blog_show', { 'id': post.id }) }}" class="btn btn-flat border-white text-white btn-rounded btn-icon legitRipple"><i class="icon-arrow-right8"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="blog-preview">
                            <p>{% set postText = (post.postText | striptags) | trim('&nbsp;') %}
                                {{ postText|length > 400 ? postText|slice(0, 400) ~ '...' : postText }}
                            </p>
                        </div>
                    </div>

                    <div class="panel-footer panel-footer-transparent"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline list-inline-separate heading-text text-muted">
                                <li>By <a href="#" class="text-muted">{% if post.user is not null %} {{ post.user.name }} {% else %} uknown user {% endif %}</a></li>
                                <li>{{ post.created | date('d/m/Y') }}</li>
                                <li><a href="#" class="text-muted"><i class="icon-heart6 text-size-base text-pink position-left"></i> 281</a></li>
                            </ul>

                            <a href="{{ path('brt_blog_blog_show', { 'id': post.id }) }}" class="heading-text pull-right">Read more <i class="icon-arrow-right14 position-right"></i></a>
                        </div>
                    </div>
                </div>

            {% else %}

                <h2>Not posts found!</h2>

            {% endfor %}

            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col-md-4">

        </div>
    </div>


{% endblock %}